<div class="interactive-container offset">
    <div class="row">
	    <div id="controls" class="main-col">
	            <div class="row figureTitle">
	            	Coal seam gas in Eastern Australia
	            </div>
	            <div class="row subTitle notes">
	            	Showing coal seam gas-related boreholes in NSW and Queensland. Each well is categorised by its purpose, including <span class="exploration">exploration</span>, <span class="appraisal">appraisal/pilot</span>, <span class="development">development/production</span>, and <span class="other">other</span> boreholes, such as for water.
	            </div>	
	    </div>
    </div>
    
    <div id="mapContainer">
           <!--  <div id="zoomIn" class="zoomButtons">+</div>
            <div id="zoomOut" class="zoomButtons">–</div>
            <div id="zoomToggle" class="zoomButtons zoomUnlocked"></div> -->
            <div id="timeDate">
                <div id="monthText"></div>
                <div id="yearText"></div>
            </div>    

            <div id="statusMessage" class="btn">Loading...</div>
    </div>

    <div class="row notes">
        <div class="main-col">
            <div class="row">
                Source: <a href="https://www.resourcesandenergy.nsw.gov.au/landholders-and-community/coal-seam-gas/facts-maps-links/map-of-csg-wells" target="_blank">NSW Government<a>, <a href="https://data.qld.gov.au/dataset/queensland-borehole-series/resource/f0f7a339-2c08-4d85-a891-0f24b91384f2" target="_blank">QLD Government</a>
            </div>
        </div>
    </div>
</div>