<div class="interactive-container offset">
    <div class="row">
	    <div id="controls" class="main-col">
	            <div class="row figureTitle">
	            	Australia's projected foreign aid allocation by country, and changes from 2017-18 to 2018-19
	            </div>
	            <div class="row subTitle notes">
	            	Showing coal seam gas wells in NSW and Queensland. <span class="red_underline">red</span> and <span class="orange_underline">amber</span> alerts for blue-green algal blooms in NSW
	            </div>	
	    </div>
    </div>
    
    <div id="mapContainer">
           <!--  <div id="zoomIn" class="zoomButtons">+</div>
            <div id="zoomOut" class="zoomButtons">–</div>
            <div id="zoomToggle" class="zoomButtons zoomUnlocked"></div> -->
            <div id="timeDate">
                <div id="monthText"></div>
                <div id="yearText"></div>
            </div>    

            <div id="statusMessage" class="btn">Loading...</div>
    </div>

    <div class="row notes">
        <div class="main-col">
            <div class="row">
                Source: <a href='https://www.waternsw.com.au/water-quality/algae#stay'>Water NSW algal alerts</a>
            </div>
        </div>
    </div>
</div>