<div class="interactive-container offset">
    <div class="row">
	    <div id="controls" class="main-col">
	            <div class="row figureTitle">
	            	The frontier wars: how massacres spread with colonisation
	            </div>
	            <div class="row subTitle">
	            	Showing the location of massacres and conflicts where six or more people died between 1794 and 1928. Circles are sized by the estimated number of deaths. Their colour changes from <span class="red">red</span> to <span class="blue">blue</span> as time passes. Data is incomplete with more sites still to be added, particularly in WA
	            </div>	
	    </div>
    </div>
    
    <div id="mapContainer">
           <!--  <div id="zoomIn" class="zoomButtons">+</div>
            <div id="zoomOut" class="zoomButtons">–</div>
            <div id="zoomToggle" class="zoomButtons zoomUnlocked"></div> -->
            <div id="timeDate">
                <div id="monthText" class="center"></div>
                <div id="yearText" class="center"></div>
            </div>    


            <div id="keyContainer">
                
            </div> 

            <div id="statusMessage" class="btn">Loading...</div>
    </div>

    <div class="row notes">
        <div class="main-col">
            <div class="row">
                Guardian graphic | Source: Guardian Australia / <a href="https://c21ch.newcastle.edu.au/colonialmassacres/" target="_blank">Colonial Frontier Massacres Project</a>. Read more about the data here
            </div>
        </div>
    </div>
</div>