@import "mq";
@import "fonts";
@import "palette";
@import "interactives";
// Uncomment for embeds

@import "embed";

// Uncomment for full screen (including immersive article main media)

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-container {

	background: #FFF;

	max-width:1200px;

	#mapContainer {
		position: relative; 
		width:100%;
		min-height:300px;

	}

/*	.figureTitle {
	    font-family: "Guardian Egyptian Web",Georgia,serif;
	    font-size: 18px;
	    font-weight: 900;
	    color: black;
	}*/

/*
	.mapCircle {
		stroke:black;
		stroke-width:1px;
	}	


	.mapCircle:hover {
		opacity:0.5;
		stroke:black;
	}	*/

	.graticule {
		fill: none;
		stroke: #efefef;
		stroke-opacity:1;
	}

	.mesh {
		fill: none;
  		stroke: #fff;
	}

	.blue {
		border-bottom: 2px solid rgb(1, 77, 175);
	}

	.red {
		border-bottom: 2px solid rgb(219, 0, 14);
	}

	a {
		text-decoration: none !important;
    	border-bottom: 0.0625rem solid #dcdcdc;
    	color: #c70000;
	}
	
	a:hover {
		border-bottom: 0.0625rem solid #c70000;
	}

/*	.notes {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:0.9rem;
		color:#767676;
	}*/

	.keyText {
		font-family: 'Guardian Text Sans Web',Arial;
		font-weight: bold;
		font-size:14px;
		margin-bottom:10px;
	}

	.placeText {
		font-family: 'Guardian Text Sans Web',Arial;
		fill: #000000;
	}

	.keyLabel {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:10px;
		fill:#767676;
	}

	.keyHeading {
		font-family: 'Guardian Text Sans Web',Arial;
		font-size:14px;
		fill:#767676;
	}

	#statusMessage {
		position: absolute;
		top:20%;
		left:49%;
		pointer-events: none;
	}

	#timeDate {
		font-family: 'Guardian Text Sans Web',Arial;
		position: absolute;
		top:2%;
		left:10%;
		pointer-events: none;
		background-color:#6f6f6f;
		border-radius: 70px;
		-moz-border-radius: 70px;
		-webkit-border-radius:70px;
		width:70px;
		height:70px;
		text-align: center;
		color:#FFF;
	}

	#keyContainer {
		position: absolute;
		top:1.5%;
		right:8%;
		pointer-events: none;
		width:100px;
		height:80px;
	}

	@media (max-width: 500px) {
		#timeDate {
			top:1%;
			left:1%;
		}

		#keyContainer {
			top:auto;
			bottom:2%;
			left:0.5%;
		}
	}


	.keyCircle {
		fill:#dfdfdf;
		stroke:#767676;
		stroke-width:0.5px;
	}


	#monthText {
		margin-top:10px;
	}

	.zoomButtons {
		width:25px;
		height:25px;
		border-radius: 25px;
		font-size:25px;
		line-height:25px;
		background-color: #bdbdbd;
		text-align: center;
		cursor: pointer;
		font-weight: bold;
		color:#FFFFFF;
	}

	.zoomLocked {
		background-image:url('<%= path %>/assets/locked.svg');
	}

	.zoomUnlocked {
		background-image:url('<%= path %>/assets/unlocked.svg');
	}

	#zoomIn {
		position: absolute;
		top:20px;
		left:2%;
	}

	#zoomOut {
		position: absolute;
		top:50px;
		left:2%;

	}

	#zoomToggle {
		position: absolute;
		top:80px;
		left:2%;
		background-size: 20px 20px;
  		background-repeat: no-repeat;
  		background-position:49% 49%;
	}

	

	.btn {
			width:auto;
			margin-left:5px; 		
			border-radius: 16px;
			text-align: center;
			padding: 5px 10px;
			line-height:1em; 
			font-family: "Guardian Agate Sans", Arial, sans-serif;
			overflow:hidden;
			color: #FFFFFF;
			background-color: #bdbdbd;
			display: inline-block;
	}

	.col50 {
		float:left;
		width:48%;
		margin-left:1%; 
	}

	.row {
		margin-bottom:5px; 
	}

	.row:after {
		content: " "; /* Older browser do not support empty content */
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}

	.main-col {
		max-width: 38.75rem;
		margin-left:1.25rem; 
		position: relative;
		display: block;
		float: none;
	}

	@media (max-width: 1140px) {
	.main-col {
		margin-left:0;
		}  
	}

	@media (min-width: 1140px) {
	.main-col {
		margin-left:10rem;
		width:560px;
		float: left;
		}  
	}

	@media (min-width: 1300px) {
		.main-col {
			margin-left: 15rem;
			width:640px;
			float: left;
		} 
	}


	@media (max-width: 600px) {

	.col10, .col20, .col30, .col40, .col50, .col60, .col70, .col80, .col90 {
	width:100%;
	margin:0;
	}

	}

	#statChooser {
		opacity:1;
		margin-bottom:10px;
		float:left;
		max-width:250px;
	}

	#keyContainer {
		float: left;
	}

	.tooltip {
		background: #FFFFFF;
		max-width:200px;
		font-family: 'Guardian Text Sans Web',Arial;
		padding:10px;
		pointer-events: none;
	}	

}

